$grid-gutter-width: 1.2rem;

@import "/node_modules/bootstrap/dist/css/bootstrap.css";
@import "./media";

body {
    background-color: rgba(196, 187, 187, 0.8);
}

.container {
    display: flex;
    flex-direction: row;
    max-width: 100%;

    .profile {
        background-color: rgba(252, 249, 249, 0.01);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .profile-image {
            margin-top: 25px;
            border-radius: 50%;
            max-width: 60%;
        }

        .profile-links {
            list-style-type: none;
            margin-top: 10px;
            margin-left: 0;
        }

        .profile-link-item {
            font-family: monospace;
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 15px;
            padding: 10px 5px 5px 10px;
            align-items: center;
            display: block;
            text-decoration: none;
            color: black;
        }

        .myIcon {
            height: 2em;
        }

        @include medium {
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            box-shadow: inset;
        }
    }

    @include large {
        .myCont {
            margin-left: 200px;
            width: 550px;
            flex-direction: column;
            margin-top: 100px;
        }
    }

    @include medium {
        .myCont {
            width: 550px;
            flex-direction: column;
            margin-top: 55px;
        }
    }

    @include small {
        .myCont {
            width: 70%;
            margin-top: 55px;
        }
    }

    @include smallsmall {
        .myCont {
            width: 95%;
            flex-direction: column;
            margin-top: 15px;
        }

        flex-direction: column;
    }

    .container {
        max-width: 100%;

        .navbar {
            margin-top: 52px;

            .nav-tabs {
                cursor: pointer;
            }

            .nav-tabs > .active > a {
                background-color: aqua;
            }

            .nav-item > a:hover {
                background-color: rgb(181, 192, 192, 0.6);
                transition: 0.7s;
            }

            @include medium {
                margin-top: 10px;
            }
        }

        & {
            display: flex;
            flex-direction: column;
            max-width: 100%;

            .pages {
                background-color: rgba(252, 249, 249, 0.01);
                display: flex;
                flex-direction: column;
                overflow: hidden;
                border-radius: 10px;

                .about {
                    background-color: rgb(196, 202, 202, 0.2);
                    padding: 50px;
                    margin-top: 10px;

                    h3 {
                        font-size: 1.5em;
                        font-weight: bold;
                    }

                    h5 {
                        font-size: 1em;
                        margin-top: 30px;
                        font-weight: bold;
                        margin-bottom: 20px;
                    }

                    h6 {
                        padding: 10px;
                    }

                    p {
                        padding: 10px;
                    }
                }

                .projects {
                    .project {
                        background-color: rgb(205, 212, 212, 0.3);
                        border-radius: 10px;
                        margin-top: 20px;
                        padding: 20px;

                        h3 {
                            font-size: 1.3em;
                        }
                        p {
                            font-size: 1em;
                            font-weight: 400;
                        }
                    }
                }

                .contact {
                    position: relative;
                    width: 100%;
                    padding: 20px;
                    justify-content: center;
                    align-items: center;

                    .input_group {
                        display: flex;
                        flex-direction: column;

                        .myTexts {
                            background-color: rgb(131, 138, 138, 0.2);
                            margin-top: 15px;
                            text-align: left;
                        }

                        .myTextArea {
                            height: 150px;
                            background-color: rgb(131, 138, 138, 0.2);
                            margin-top: 15px;
                            text-align: left;
                        }

                        .myBtn {
                            margin-top: 15px;
                            background-color: rgba(23, 38, 102, 0.5);
                            border: none;
                            color: white;
                        }
                    }

                    &_input {
                        width: 80%;
                        height: 5px;
                        border-radius: 20px;
                        border-color: rgba(194, 189, 189, 0.5);
                        font-family: inherit;
                        font-size: inherit;
                        padding: 1.25rem;
                        background: none;
                        outline: none;

                        &:hover {
                            background-color: rgba(194, 189, 189, 0.5);
                            transition: 0.7s;
                        }
                    }

                    &_label {
                        position: absolute;
                        left: 1rem;
                        top: 1.75rem;
                        padding: 0 1.25rem;
                        cursor: text;
                        transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
                        background-color: rgba(252, 249, 249, 0.01);
                        border-radius: 50px;
                    }
                }

                .contact_input:focus ~ .contact_label,
                .contact_input:not(:placeholder-shown) .contact_input:not(:focus) ~ .contact_label {
                    top: 0.7rem;
                    font-size: 0.8rem;
                    left: 1.2rem;
                }

                @include medium {
                    top: 500px;
                    max-width: 100%;
                }
            }

            @include large {
                margin-right: 40px;
            }
        }
    }
}
