@import "/node_modules/bootstrap/dist/css/bootstrap.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.App {
  width: 100%;
  height: 100vh;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 28pt;
  font-weight: 600;
}

.App section .container-fluid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  scroll-snap-align: start;
  padding: 0;
  margin: 0;
}

.header .container-fluid .title {
  background-color: #333;
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 34pt;
  font-weight: 800;
  color: #fff;
  padding: 1rem;
}
@media (max-width: 792px) {
  .header .container-fluid .title {
    height: 30%;
  }
}
.header .container-fluid .title p {
  margin: 0;
  text-align: center;
}
@media (max-width: 792px) {
  .header .container-fluid .title p {
    margin: 0;
    font-size: 28pt;
  }
}
.header .container-fluid .container {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 792px) {
  .header .container-fluid .container {
    height: 70%;
  }
}
.header .container-fluid .container .row {
  width: 70%;
}
.header .container-fluid .container .profile-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.header .container-fluid .container .profile-item .profile-picture {
  width: 250px;
  margin: 0 auto;
  padding: 0;
}
.header .container-fluid .container .profile-item .profile-picture img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .container-fluid .container .description {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}
.header .container-fluid .container .description .row {
  width: 100%;
  height: 100%;
}
.header .container-fluid .container .description .row .about {
  height: 70%;
  height: 12rem;
}
@media (max-width: 792px) {
  .header .container-fluid .container .description .row .about {
    height: 70%;
  }
}
.header .container-fluid .container .description .row .social-profiles .item {
  height: 30%;
}
.header .container-fluid .container .description .about {
  text-transform: uppercase;
  font-size: 18pt;
  font-weight: 700;
  color: #000;
  margin: 0;
}
@media (max-width: 792px) {
  .header .container-fluid .container .description .about {
    font-size: 14pt;
  }
}
.header .container-fluid .container .description .social-profiles {
  width: 100%;
  margin: 0;
}
@media (max-width: 792px) {
  .header .container-fluid .container .description .social-profiles {
    font-size: 22pt;
  }
}
.header .container-fluid .container .description .social-profiles .social-link {
  color: #333;
  padding: 0.7rem;
}
.header .container-fluid .container .description .item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 14pt;
  font-weight: 700;
}
@media (max-width: 792px) {
  .header .container-fluid .container .description .item {
    font-size: 12pt;
    padding: 0.4rem;
  }
}
.header .container-fluid .container .description .item .country {
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 0;
}

.body .container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.body .container-fluid .card {
  width: 70%;
  height: 70%;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  background: rgba(255, 255, 255, 0.1);
}
@media (min-width: 792px) {
  .body .container-fluid .card {
    width: 50%;
  }
}
@media (max-width: 792px) {
  .body .container-fluid .card {
    height: 70%;
  }
}
@media (max-width: 546px) {
  .body .container-fluid .card {
    width: 90%;
    height: 90%;
  }
}
.body .container-fluid .card .img {
  width: 100%;
  height: 70%;
}
.body .container-fluid .card .img img {
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.body .container-fluid .card .card-body {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.body .container-fluid .card .card-body .card-title {
  width: 100%;
  text-align: center;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.2) 48%, rgba(0, 0, 0, 0.2) 77%, rgba(0, 0, 0, 0.1) 100%);
  padding: 0.5rem;
  font-size: 18pt;
  font-weight: 500;
  color: #fff;
}
.body .container-fluid .card .card-body .view-more .card-btn {
  text-decoration: none;
  color: #000;
  font-size: 14pt;
  border: 2px solid;
  padding: 0.5rem;
  transition: 0.7s;
}
.body .container-fluid .card .card-body .view-more .card-btn:hover {
  color: #fff;
}/*# sourceMappingURL=custom.css.map */